<a href="https://colab.research.google.com/github/Jhaser/Spoon-Knife/blob/change-the-title/intro_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
print("Hello, world!")

Hello, world!

In [7]:
class Example(object):
    def output(self, value):
        if isinstance(value, str):
            return value
        else:
            return "ERROR: String expected!"
    
my_example = Example()

print(my_example.output(5))

ERROR: String expected!

In [8]:
# The None type
something = None

# The Boolean type
is_tired = True

#The Integer type
age = 35
print(1+1*2/5)

#The Float type
half = 0.5

#The String type
message = "Hello World"

#The List type
numbers = [1,2,3,4]
mixed_list = ['Hello',1,True,None]
matrix = [[1,2],[3,4]]

#The Dictionary type
person = {
    'name':'Ali',
    'age':18,
    'address':{
        'country':'Singapore',
        'zip': '123456'
    }
}

print(type(something))
print(type(is_tired))
print(type(age))
print(type(half))
print(type(message))
print(type(numbers))
print(type(person))

1.4
<class 'NoneType'>
<class 'bool'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>

In [9]:
something = None
print(something)
print(type(something))

None
<class 'NoneType'>

In [10]:
print(is_tired)

True

In [11]:
age = 35
print(age)

35

In [12]:
print(5+5)
print(10-5-5)
print(2*2)

10
0
4

In [13]:
# Careful when you divide integers!
# In Python 2.7, when you divide 2 integers, the result is a whole number.
# In Python 3.x, the result will be a float.

print(22/10)

2.2

In [14]:
half = 0.5

print(half)
print(1/2)
print(1/2.0)

0.5
0.5
0.5

In [15]:
name = "Ali"
name = 'Ali'

message = 'He said:\n"Let\'s do this"'
print(message)

He said:
"Let's do this"

In [16]:
string1 = 'Hello'
string2 = 'World'

print(string1 + " " + string2)

Hello World

In [17]:
address = 'Tampines Str 21'
address = address.replace('Str', 'Street')
print(address)

Tampines Street 21

In [18]:
age = 35
message = 'I am {} years old'.format(age)
print(message)

I am 35 years old

In [19]:
empty = []
colours = ['blue','red']
print(colours)
print(colours[0])

['blue', 'red']
blue

In [20]:
# You can add items to a list

colours = ['blue','red'] #already defined above

colours.append('green')
print(colours)

colours.insert(0,'black')
print(colours)

['blue', 'red', 'green']
['black', 'blue', 'red', 'green']

In [21]:
colours = ('blue','red')
print(colours)

# This line will crash, cause an error
colours.append('green')

('blue', 'red')

AttributeError: ignored

In [22]:
person = {
    'name':'Ali',
    'age':18,
    'address':{
        'country':'Singapore',
        'zip': '123456'
    }
}

print(person)
print(person['name'])
print(person['address']['country'])

{'name': 'Ali', 'age': 18, 'address': {'country': 'Singapore', 'zip': '123456'}}
Ali
Singapore

In [ ]:
person = {
    'name':'Ali'
}

person['age'] = 35


print(person)

In [ ]:
print(person.keys())

# Functions

In [ ]:
def squared(value):
    return value * value

#anything that has not been idented to the right is not part of the function.
results = squared(2)

print(results)

In [30]:
def concat(string1, string2):
    return string1 + ' ' + string2

result = concat('Hello', 'World')

print(result)

Hello World

In [ ]:
def address(name, country, city, street, postcode):
    return '{}\n{}\n{} {}\n{}'.format(name, street, city, postcode, country)

result = address('John', 'Singapore', 'Singapore', '8 Claymore Hill', 229572)
print(result)

In [31]:
def address(name=None, 
            country='Singapore', 
            city='Singapore', 
            street=None, 
            postcode=None):
    return '{}\n{}\n{} {}\n{}'.format(name, street, city, postcode, country)

result = address(name='John', street='8 Claymore Hill', postcode=229572)
'''
there is no need to input 'Singapore' because 
they were already specified as default values 
for the 2 arguments city and country.
'''

print(result)

John
8 Claymore Hill
Singapore 229572
Singapore

# Classes

In [33]:
class Animal(object): #it is convention to capitalize class names
    legs=4
    speed=0
    
    def run(self):
        self.speed=10
        
# for explanation of self, refer to:
# https://pythontips.com/2013/08/07/the-self-variable-in-python-explained/

In [34]:
my_pet = Animal()
my_pet.run()

print(my_pet.speed)

10

In [25]:
class Dog(Animal):
    def bark(self):
        print('WOOF! WOOF!')

In [26]:
my_terrier = Dog()


my_terrier.bark()

my_terrier.legs

WOOF! WOOF!

4

In [27]:
my_terrier.speed
#speed of dog before running
#note that speed was defined in the parent/super class named Animal

0

In [28]:
my_terrier.run()
my_terrier.speed
#speed of dog after running
#note that the method run() was defined in the parent/super class named Animal

10

In [29]:
import datetime

my_date = datetime.datetime(2018,12, 24) 
#my_date is an instance of the datetime class

print(my_date.isoweekday()) # isoweekday is a function of the datetime class
print(my_date.year) # year is an attribute of the datetime class

1
2018

# The  if statement

In [ ]:
age=35

if age>18: #the other comparisons are >=, <=, <, ==
    print("You are older than 18.")

In [ ]:
age=17

if age>18: 
    print("You are older than 18.")
else:
    print('You are not older than 18.')

In [ ]:
age=100

if age>18:
    print('You are older than 18.')
elif age==100:
    print('You are really old!')
else:
    print('You are not older than 18.')

In [39]:
age=100

if age==100:
    print('You are really old!')
elif age>18:
    print('You are older than 18.')
else:
    print('You are not older than 18.')

You are really old!

In [35]:
this=1
that=3
something=4

if (this==1 or that>2) and something<5:
    print("WOW!")

WOW!

# The for loop

In [40]:
people = ['Bob', 'Eve', 'Steve', 'Tim']

for person in people:
    print(person)
    
print(person) #this line prints Tim since it is the final item.

Bob
Eve
Steve
Tim
Tim

In [ ]:
for person in people:
    if person =='Eve':
        print(person)
        
    print(person)

In [ ]:
for person in people:
    if person =='Eve':
        print(person)
        break
    print(person)

In [ ]:
for person in people:
    if person =='Eve':
        print(person)

In [ ]:
for person in people:
    if person =='Eve':
        continue        
    print(person)

# The while loop

In [ ]:
counter = 0

while counter<10:
    print(counter)
    counter+=1 # this is the same as counter = counter + 1

In [ ]:
text = 'This is some text'

print(text[5:])

In [ ]:
print(text[:5])

In [ ]:
print(text[:-5])

In [ ]:
print(text[5:-5])

Slicing!**bold text**

In [42]:
text = 'This is some text'
print(text[5:])
print(text[:5])
print(text[:-5])
print(text[5:-5])

is some text
This
This is some
is some